<h1 id="tableLabel">Vehicles</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!vehicletypes"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicletypes">
  <thead>
    <tr>
      <th>Vehicle Type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Engine</th>
      <th>Doors</th>
      <th>Wheels</th>
      <th>BodtType</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vtype of vehicletypes">
      <td>{{ vtype.type }}</td>
      <td>{{ vtype.make }}</td>
      <td>{{ vtype.model }}</td>
      <td>{{ vtype.engine }}</td>
      <td>{{ vtype.doors }}</td>
      <td>{{ vtype.wheels }}</td>
      <td>{{ vtype.bodyType }}</td>

    </tr>
  </tbody>
</table>
