<h1 id="tableLabel">Add New Vehicle</h1>

<form [formGroup]="vehicleInfoForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="type">Vehicle Type</label>
    
    <select formControlName="type" class="form-control">
      <option value=""></option>
      <option value="Car">Car</option>
      <option value="Boat">Boat</option>
    </select>
    <div *ngIf="(submitted && type.errors) || (type.invalid && (type.dirty || type.touched))"
         class="alert alert-danger">

      <div *ngIf="type.errors.required">
        Vehicle Make is required.
      </div>
    </div>
    <div class="form-group">
      <label for="type">Make</label>
      <input type="text" class="form-control" placeholder="Enter Vehicle Make" id="make" formControlName="make" required>
      <div *ngIf="(submitted && make.errors) || (make.invalid && (make.dirty || make.touched))"
           class="alert alert-danger">

        <div *ngIf="make.errors.required">
          Vehicle Make is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="type">Model</label>
      <input type="text" class="form-control" id="model" formControlName="model" placeholder="Enter Vehicle Model">
      <div *ngIf="(submitted && model.errors) || (model.invalid && (model.dirty || model.touched))"
           class="alert alert-danger">

        <div *ngIf="model.errors.required">
          Vehicle Model
        </div>
      </div>
    </div> <div class="form-group">
      <label for="engine">Engine</label>
      <input type="text" class="form-control" id="engine" formControlName="engine" placeholder="Enter Vehicle Engine">
      <div *ngIf="(submitted && engine.errors) || (engine.invalid && (engine.dirty || engine.touched))"
           class="alert alert-danger">

        <div *ngIf="engine.errors.required">
          Vehicle Engine is required.
        </div>
      </div>
    </div> <div class="form-group">
      <label for="doors">Doors</label>
      <input type="text" class="form-control" id="doors" formControlName="doors" placeholder="Enter Vehicle Doors">
      <div *ngIf="(submitted && doors.errors) || (doors.invalid && (doors.dirty || doors.touched))"
           class="alert alert-danger">

        <div *ngIf="doors.errors.required">
          Vehicle Doors are required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="wheels">Wheels</label>
      <input type="text" class="form-control" id="wheels" formControlName="wheels" placeholder="Enter Vehicle Wheels">
      <div *ngIf="(submitted && wheels.errors) || (wheels.invalid && (wheels.dirty || wheels.touched))"
           class="alert alert-danger">

        <div *ngIf="wheels.errors.required">
          Vehicle Wheels are required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body Type</label>
      <input type="text" class="form-control" id="body" formControlName="bodytype" placeholder="Enter Vehicle Body Type">
      <div *ngIf="(submitted && bodytype.errors) || (bodytype.invalid && (bodytype.dirty || bodytype.touched))"
           class="alert alert-danger">

        <div *ngIf="bodytype.errors.required">
          Vehicle Body Type is required.
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
